.property-container {
  gap: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.property-wrapper {
  width: 80%;
  margin: 0 auto;
}

.property-container > img {
  align-self: center;
  height: 30rem;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.property-detail {
  display: flex;
  width: 100%;
}
.property-detail .left {
  width: 50%;
  gap: 2rem;
}
.property-detail .left .head {
  gap: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}
.property-detail .right {
  width: 50%;
}
.facilities {
  gap: 1rem;
  font-size: 0.9rem;
  padding: 1rem;
}

.facility {
  gap: 0.5rem;
}

@media (max-width: 700px) {
  .property-container > div {
    flex-direction: column;
  }
  .head {
    flex-direction: column;
  }
  .facilities {
    flex-direction: column;
    align-items: flex-start;
  }
  .property-details > div {
    width: 100%;
  }
}
