.f-container {
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.148);
  background-color: white;
}
.f-left {
  gap: 1rem;
}
.f-menu {
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
}
.styled-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.styled-button:active {
  background-color: #003d80;
  transform: scale(1);
}

@media (max-width: 768px) {
  .f-container {
    justify-content: center;
  }
  .f-container > div {
    align-items: center !important;
    text-align: center;
  }
  .f-right {
    justify-content: center;
  }
}
