.App {
  position: relative;
  overflow-x: clip;
}
.App > :nth-child(1) {
  background: var(--black);
  position: relative;
}

.white-gradient {
  position: relative;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,  /* Light center */
    rgba(0, 0, 0, 0.6) 50%,       /* Smooth transition */
    rgba(0, 0, 0, 0.9) 100%       /* Dark edge */
  );
  background-position: 0% 0%; /* Adjust the circle's position */
  width: 100%;                  /* Make it responsive if needed */
  height: 100%;                 /* Adjust as needed */
}
